
.ascii {
  font-family: monospace;
  font-size: 1.5em;
  white-space: pre;
  line-height: 60%;
}
.container {
  margin: auto;
  width: 50%

}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.header {
  background: black;
}

#right_align {
  float: right;
}

a {
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
}

a.header:link,
a.header:visited
{
  color: white;
}

input {
  padding: 5px;
  margin: 15px;
  width: 10em;
}

input[type='submit'] {
  width: 25em;
  margin-left: 0;
  margin-right: 0;
}

label {
  display: inline-block;
  width: 10em;
}

.error {
  color: red;
  font-weight: bold;
}

td {
  padding: 1em;
}