<!DOCTYPE html>
<html>
<head>
<title> {% block title %} {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header"><a class="header" href="/">Main Page</a>
    {% if current_user.is_authenticated %}
    <span id="right_align"><a class="header" href="{{ url_for('logout') }}">Logout</a></span>
    {% else %}
    <span id="right_align"><a class="header" href="{{ url_for('sign_in') }}">Sign in!</a>
    <a class="header" href="{{ url_for('sign_up') }}">Register</a></span>
    {% endif %}
</div>

<div class="container">

    <p class="ascii">
 ________________________ <br>
|  {% block cowsay %} {% endblock %}     |<br>
 ------------------------<br>
        \   ^__^<br>
         \  (oo)\_______<br>
            (__)\       )\/\<br>
                ||----- |<br>
                ||     ||<br>
    </p>

{% block content %}

{% endblock %}


{% if form is defined %}
<ul class="error">
    {% if form.errors %}
        {% for field, errors in form.errors.items() %}
          <li>
              {{ form[field].label }}: {{ ', '.join(errors) }}
          </li>
        {% endfor %}
    {% endif %}
</ul>
{% endif %}

</div>
</body>
</html>
