{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block cowsay %}     Welcome!    {% endblock %}
{% block content %}

<p>
    <ul>
    <li>
        <a href="{{ url_for('welcome') }}">Welcome Page</a>
    </li>
    <li>
        <a href="{{ url_for('profile') }}">Profile</a>
    </li>
    {% if current_user.is_authenticated %}
    <li>
        <a href="{{ url_for('reset_users') }}">Reset the database (delete users)</a>
    </li>
    {% endif %}
    </ul>

</p>

{% endblock %}
