{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}

{% block cowsay %} Hello, {{current_user.name}}! {% endblock %}


{% block content %}

<form action="/profile/" method="post">
    {{form.csrf_token }}
    <label>Your name is</label> <input value="{{current_user.name}}" disabled> <br>
    {{form.lastname.label}} {{form.lastname()}} <br>
    {{form.password.label}} {{form.password()}} (optional) <br>
    {{form.confirm.label}} {{form.confirm()}} <br>
<input type="submit" value="Submit">



{% endblock %}
