{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}

{% block cowsay %} Please sign in! {% endblock %}


{% block content %}

<form action="/sign-in/" method="post">
    {{form.csrf_token }}
    {{form.firstname.label}} {{form.firstname()}} <br>
    {{form.password.label}} {{form.password()}} <br>
<input type="submit" value="Submit">
</form>
{% endblock %}
