{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}

{% block cowsay %} Please sign-up! {% endblock %}


{% block content %}

<form action="/sign-up/" method="post">
    {{form.csrf_token }}
    {{form.firstname.label}} {{form.firstname()}} <br>
    {{form.lastname.label}} {{form.lastname()}} <br>
    {{form.password.label}} {{form.password()}} <br>
    {{form.confirm.label}} {{form.confirm()}} <br>
<input type="submit" value="Submit">
</form>
{% endblock %}
