{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}

{% block cowsay %} Hello, {{current_user.name}}! {% endblock %}


{% block content %}

<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Hashed Password</td>
    </tr>
{% for row in users %}
<tr> {% for elem in row %} <td>{{ elem }}</td> {% endfor %}</tr>
{% endfor %}
</table>

{% endblock %}
